

@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis|Open+Sans');

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#cf{
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding:180px;
 }


.container{
  background: none;
  

}

p{
  color: rgba(255,255,255,1);
  vertical-align: middle;
  margin:auto;
  text-align:center;
  padding: 5px 0;
    border: 3px solid white;
    width:140px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dosis', sans-serif;
    margin-top: 25px;
    font-size: 30px;
    text-align: center;}

.container:hover { 
  background: #191919; 
}